@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html {
    width: 100%;
    height: 100%;
    
}

body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    
}

.outer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: hsl(200, 36%, 95%);
    opacity: 0.9;
}

.inner-section {
    position: absolute;
    min-height: auto;
    width: 20%;
    display: grid;
    place-items: center;
    margin-bottom: 32rem;
}
.inner-box {
    display: flex;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background-color: white;
    border-radius: 20%;
}
h1 {
    text-align: center;
    margin-top: 15%;
    font-size: 2rem;
    font-weight: 500;
}
p {
    text-align: center;
    margin-bottom: 2rem;
    opacity: 0.5;
}
.username, .password, .remember-device {
    margin-top: 1.5rem;
}
#username, #password {
    padding: 0.7rem 11rem 0.7rem 0.7rem;
}
input {
    margin-left: 3.5rem;
    border: 1.2px solid #333;
}
#btn-sign-in {
    margin: 3.5rem 3.5rem;
    width: 21rem;
    height: 2.5rem;
    align-items: center;
    background-color: #3b9ffc;
    color: white;
    cursor: pointer;
    border: none;
    font-size: large;
}
#btn-sign-in:hover {
    background-color: hsl(209, 92%, 65%);
}
#btn-sign-in:active {
    background-color: #3b9ffc;
}

div .box:first-child {
    position: absolute;
    bottom: 140%;
    background-color: hsla(34, 100%, 50%, 0.900);
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    z-index: 0;
}
div .box:nth-child(2) {
    position: absolute;
    top: 5%;
    left: 25%;
    background-color: hsl(202, 100%, 50%, 0.920);
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    z-index: 3;
}
div .box:nth-child(3) {
    position: absolute;
    bottom: 105%;
    left: 60%;
    background-color: hsla(325, 66%, 45%, 0.850);
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    z-index: 2;
}

div .box:last-child {
    position: absolute;
    bottom: 150%;
    left: 50%;
    background-color: hsla(123, 48%, 50%, 0.880);
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    z-index: 1;
}

.logo-animation0 {
    transform: translate(90%, 300%);
    transition: 0.4s;
    transition-timing-function: ease-in;
}
.logo-animation1 {
    transform: translate(23%, 143%);
    transition: 0.15s;
    transition-timing-function: ease-in;
}
.logo-animation2 {
    transform: translate(-17%, 225%);
    transition: 0.3s;
    transition-timing-function: ease-in;
}
.logo-animation3 {
    transform: translate(10%, 480%);
    transition: 0.5s;
    transition-timing-function: ease-in;
}

.body-animation {
    transition: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.remove-outer-box-animation {
    transition: 0.5s;
    transform: perspective(1000px) rotateX(32.5deg) scale(1, 1.5);
}
.wrap-info {
    transform: perspective(1000px) rotateX(-40deg);
}
